<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Uploader</title>
    
    <link  href="/css/index.css" rel="stylesheet"  media="all">
    
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bundle.js"></script>
    
</head>
<body>
	
	<gena-upload id="t1">
		<template data-rel="input">
			<div class="gfu-wrap">
				<ul>
					<li class="gfu-text"></li>
					<li><input type="file" id="{{id}}"></li>
					<li>Немного импровизации!</li>
				</ul>
			</div>
		</template>
		
		<script>
			GU.extend({
				id:'t1',
				name: 'component1',
				text: 'Добавить документы',
				acceptExtension: ['jpg', 'txt','gif'],
				acceptType: ['image/jpeg'],
				maxFiles: 3
				
			})
		</script>
	</gena-upload>
	

	<gena-upload id="t2">
		<script>
			GU.extend({
				id:'t2',
				name: 'component2',
				multiple: false,
				maxFiles: 3
			})
		</script>
	</gena-upload>
	

</body>
</html>