<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Uploader</title>
    
    <link  href="/css/index.css" rel="stylesheet"  media="all">
    
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/bundle.js"></script>
    
</head>
<body>
	
	<gena-upload id="t1">
		<template>
			<div class="test">Какой-то текст</div>
		</template>
		
		<script>
			GU.extend({
				id:'t1',
				name: 'component1',
				text: 'Добавить документы',
				acceptExtension: ['jpg', 'txt','gif'],
				acceptType: ['image/jpeg']
				
			})
		</script>
	</gena-upload>
	

	<gena-upload id="t2">
		<script>
			GU.extend({
				id:'t2',
				name: 'component2',
				multiple: false,
				maxSize:0
			})
		</script>
	</gena-upload>
	
</body>
</html>